/* CUSTOM TEXT SELECTION COLORS */
::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

/* CUSTOM TEXT SELECTION COLOR END */
/* CUSTON FONT ADDED */
@font-face {
  font-family: 'ProtestRevolution-Regular';
  src: url('ProtestRevolution-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Satisfy-Regular';
  src: url('Satisfy-Regular.ttf') format('truetype');
}
:root {
  --body-color: #f7f7f7;
  --text-color: #171c28;
  --link-color: rebeccapurple;
  --shad-color: rgba(255, 255, 255, .25);
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #171c28;
  --text-color: #f7f7f7;
  --link-color: rebeccapurple;
  --shad-color: rgba(255, 255, 255, .25);
  }
}
[data-theme="dark"] {
  --body-color: #171c28;
  --text-color: #f7f7f7;
  --link-color: rebeccapurple;
  --shad-color: rgba(255, 255, 255, .25);
}
[data-theme="light"] {
  --body-color: #f7f7f7;
  --text-color: #171c28;
  --link-color: rebeccapurple;
  --shad-color: rgba(255, 255, 255, .25);
}
/* CUSTION FONT END  */
body {
  font-family: 'Satisfy-Regular', sans-serif !important;
}
/*url link markdown*/
a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
}
h3{
  color: var(--text-color);
  font-size: xxx-large;
}
.soc:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rebeccapurple;
  transition: width 0.7s ease 0s, left 0.7s ease 0s;
  width: 0;
}
.soc:hover:after { 
  width: 100%; 
  left: 0; 
}
@media (max-width: 440px) {
  h3 {
    font-size: xx-large;
  }
}
h1 {
  font-size: 1.6em;
}
.soc{
  color: rebeccapurple;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: medium;
}
.soc:hover{
  transition-duration: 0.4s;
  color: red;
  font-size: large;
}

/*blog post font color*/
p {
  color: var(--text-color);
  font-size: large;
}
.text-white{
  color: var(--text-color);
}
/*layout size*/
.container-sm {
  max-width: 760px;
}
.logo {
  filter:contrast(1%);
  cursor:context-menu;
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: .4rem;
  right: .3rem;
  z-index: 3;
  transition: .3s;
  cursor:pointer;
}

.logo:hover {
  opacity: .8;
}
/*backround color*/
.bg-dark {
  background-color: var(--body-color) !important;
}

/*posts image*/
img {
  width: 100%;
}

/*avatar/profile image*/
.img-ava {
  height: 150px;
  width: 150px;
  border-radius: 50px;
  margin-bottom: 1px;
  filter: brightness(90%);
}

/*header/navbar*/
.head-rose {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

.head-rose:hover {
  color: var(--text-color) !important;
}

.float-md-start {
  font-size: 24px;
  text-align: center;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: var(--text-color);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--shad-color);
  transition-duration: .5s;
  transform: translateY(-2px);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--text-color);
  border-bottom-color: var(--shad-color);
}

.nav.nav-masthead.justify-content-center.float-md-end {
  padding-bottom: 50px;
}

/*lists*/

ul.lists {
  list-style: decimal-leading-zero !important;
}

/*tags*/

.tags {
  padding-left: 0px;
}

/*date blog post*/
.time {
  font-size: 14px;
  padding-bottom: 20px;
}

/*higtlight code*/
.highlight {
  border-radius: 7px;

}

code,
pre,
kbd {
  line-height: 154%;
  overflow: auto;
  max-width: 100%;
  padding: 0.2em;
  border-radius: 10px;
  padding-left: 10px;

  font-size: 13px !important;
}
.foot{
  font-size: x-small;
  word-wrap: break-word;
}
/*
.content{
  margin-top: -5rem;
}
*/